.bread ul{
    width: 100%;
    float: left;
    list-style-type: none;
    padding: 20px 0;
}

.bread ul li a{
    text-decoration: underline;
}

.bread ul li a::after{
    content: '\f105';
    font-size: 12px;
    font-weight: 900;
    font-family: 'fontAwesome';
    float: right;
    color: #e2232d;
    margin: 0 10px;
    position: relative;
    top: 2px;
}

.bread ul li.last a::after{
    display: none;
}

.bread ul li.last a{
    font-weight: 400;
}

.bread ul li{
    float: left;
}